.box {
  background-color: orange;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 5px solid black;
  text-align: center;
}

.linha {
  display: grid;
  grid-template-columns: 1fr 0.6fr 0.9fr;
  align-items: center;
  padding: 10px;
  border: 3px solid deeppink;
  margin-top: 10px;
  background-color: lightcyan;
  gap: 8px;
}

.coluna {
  font-size: 16px;
}

.coluna-acao {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.coluna-acao button {
  border: 3px solid deeppink;
  background-color: white;
  cursor: pointer;
  padding: 1px 4px;
  font-size: 10px;
  border-radius: 4px;
  white-space: nowrap;
}

.coluna-acao button:hover {
  background-color: deeppink;
  color: white;
}
