.box {
  background-color: orange;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 5px solid black;
  text-align: center;
}

.tabela-header {
  background-color: lightcyan;
  border: 3px solid deeppink;
  padding: 10px;
  margin-top: 25px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.produto-box {
  background-color: lightcyan;
  border: 3px solid deeppink;
  margin-top: 10px;
  padding: 10px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.coluna-nome {
  font-size: 14px;
  font-weight: bold;
  flex: 1;
  text-align: left;
}

.coluna-valor {
  font-size: 14px;
  font-weight: bold;
  flex: 0;
  white-space: nowrap;
}

.coluna-acao {
  display: flex;
  gap: 6px;
}

.coluna-acao button {
  border: 2px solid deeppink;
  background-color: white;
  cursor: pointer;
  padding: 2px 4px;
  font-size: 10px;
  border-radius: 4px;
  white-space: nowrap;
}

.coluna-acao button:hover {
  background-color: deeppink;
  color: white;
}
