.box {
  background-color: orange;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 5px solid black;
  text-align: center;
}

.linha {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 3px solid deeppink !important;
  margin-top: 10px;
  background-color: lightcyan;
}

.coluna {
  flex: 1;
  text-align: center;
  font-size: 18px;
}

.coluna-acao {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.botao-grid,
.coluna-acao button {
  border: 5px solid deeppink !important;
  background-color: white;
  cursor: pointer;
  padding: 8px 14px;
  font-size: 16px;
  color: black;
  border-radius: 6px;
}

.botao-grid:hover,
.coluna-acao button:hover {
  background-color: deeppink !important;
  color: white;
}
