.box{
  background-color:orange;
max-width: 400px;
margin: 20px auto;
padding: 20px;
border: 5px solid black;
text-align: center;
}

.produto -box{
background-color: lightcyan;
display: flex;
justify-content: space-between;
margin-top: 25px;
}

.grid-botoes{
display:  flex;

}

.botao-grid{
border: 5px solid blue;
margin: 5px;
cursor: pointer;

}
