.box {
  background-color: orange;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 5px solid black;
  text-align: center;
}

.linha {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 3px solid deeppink;
  margin-top: 10px;
  background-color: lightcyan;
}

.coluna {
  flex: 1;
  font-size: 18px;
  text-align: center;
}

.coluna-acao {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.coluna-acao button {
  border: 3px solid deeppink;
  background-color: white;
  cursor: pointer;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 6px;
  white-space: nowrap;
}

.coluna-acao button:hover {
  background-color: deeppink;
  color: white;
}
